<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="asset/images/favicon.png">
    <title>Rotobot - Sistem Manajemen Course</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00943f">
    <meta name="theme-color" content="#ffffff">
    <!-- END FAVICON -->

    <link href="asset/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="asset/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="asset/plugins/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="asset/css/main.css">
</head>
<body onload="startTime()">
    <!-- wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="animated">
            <ul class="sidebar-nav sidebar-group">
                <li class="sidebar-brand">
                    <a href="#">
                        Rotobot - Sistem Manajemen Course
                    </a>
                </li>
                <li class="sidebar-item sidebar-text"><p>navigasi</p></li>
                <li class="sidebar-item">
                    <a href="<?php echo base_url();?>HomeAdmin" class="sidebar-link active">Dashboard</a>
                </li> 
                <li class="sidebar-item">
                    <a href="<?php echo base_url();?>ProfilAdmin" class="sidebar-link">Profil</a>
                </li> 
                <li class="sidebar-item">
                    <a class="sidebar-link has-sub collapsed" data-toggle="collapse" data-parent=".sidebar-item" href="#masterData">Master Data</a>
                    <ul id="masterData" class="collapse sublinks">
                        <li><a href="<?php echo base_url();?>AdminDataInstruktur">Data Instruktur <span class="blue-text">(<?php echo $this->db->query("Select * from karyawan where jabatan = 'Instruktur Tetap' or jabatan = 'Instruktur Freelance'")->num_rows();?>)</span></a></li>
                        <li><a href="<?php echo base_url();?>AdminDataKaryawan">Data Karyawan <span class="blue-text">(<?php echo $this->db->query("Select * from karyawan where not jabatan like'Instruktur%' and not nama='Admin' and not nama = 'Administrator'")->num_rows();?>)</span></a></li>
                        <li><a href="<?php echo base_url();?>AdminDataSiswa">Data Siswa <span class="blue-text">(<?php echo $this->db->query("Select * from siswa")->num_rows();?>)</span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-sub collapsed" data-toggle="collapse" data-parent=".sidebar-item" href="#dataTransaksi">Data Transaksi</a>
                    <ul id="dataTransaksi" class="collapse sublinks">
                        <li><a href="<?php echo base_url();?>AdminTransaksiSiswa">Transaksi Siswa</a></li>
                        <li><a href="<?php echo base_url();?>AdminTransaksiDataPengeluaran">Transaksi Pengeluaran</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Toggle Button -->
        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
        <!-- /Toggle Button -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- Top Bar -->
                <div class="row">
                    <nav id="top-menu-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav navbar-right" id="top-menu-item">
                                <li class="pull-right"><a href="<?php echo base_url();?>login/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                                <li class="pull-right"><p class="navbar-text divider">|</p></li>
                                <li class="pull-right"><p class="navbar-text">Selamat datang, <a href="#" class="navbar-link"><?php echo $this->session->userdata('nama');?></a></p></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /Top Bar -->

                <!-- Main Content -->
                <div id="main-content">
                <div class="row">
                        <div class="col-lg-4 box animated fadeInDown">
                            <div class="box-number">
                                <p>PORTAL </p>
                                <span>Absensi Karyawan</span>
                            </div>
                            <a href="<?php echo base_url();?>AdminPortalAbsensi" class="btn custom btn-grey btn-lg btn-block">Absen</a>
                        </div>
                        <div class="col-lg-4 box animated fadeInDown">
                            <div class="box-number">
                                <p>ALAMAT EMAIL </p>
                                <span>Set alamat email pada pembayaran siswa</span>
                            </div>
                            <a href="<?php echo base_url();?>AdminEmail" class="btn custom btn-grey btn-lg btn-block">Set</a>
                        </div>
                        <div class="col-lg-4 box animated fadeInDown">
                            <div class="box-number">
                                <p><?php echo $this->db->query("Select * from siswa")->num_rows();?></p>
                                <span>Siswa</span>
                            </div>
                            <a href="<?php echo base_url();?>AdminDataSiswa" class="btn custom btn-success btn-lg btn-block">Lihat Data Siswa</a>
                        </div>
                        <div class="col-lg-4 box animated fadeInDown">
                            <div class="box-number">                                    
                                <p><?php echo $tagihan->num_rows();?></p>
                                <span>Siswa belum membayar</span>
                            </div>
                            <a href="#" data-toggle="modal" data-target="#modal_data_siswa" class="btn custom btn-success btn-lg btn-block">Lihat Data Pembayaran</a>
                        </div>
                    </div>
                </div>
                <!-- Main Content -->
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- MODAL: data siswa -->
    <div class="modal fade" id="modal_data_siswa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="modal-title" id="myModalLabel">Data Tagihan Siswa</p>
                </div>
                <div class="modal-body">
                    <table id="tabel_siswa" class="table table-bordered" data-paging="true" data-filtering="true" data-sorting="true">
                        <thead>
                            <tr role="row">
                                <th>Nama</th>
                                <th>Total Tagihan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($tagihan->result() as $result):?>
                                <?php
                                $hari = $result->hari;
                                $bulan = floor($result->hari/30);
                                $tagihan = $bulan * $result->totalbayar;
                                ?>
                                <tr>
                                    <td><?php echo $result->nama?></td>
                                    <td>Rp <?php echo $tagihan?></td>
                                    <tr>
                                    <?php endforeach;?>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.MODAL -->
            <!-- /#page-content-wrapper -->

            <!-- /#wrapper -->

            <!-- Scripts -->
            <script src="asset/plugins/jquery/jquery.min.js"></script>
            <script src="asset/plugins/bootstrap/bootstrap.min.js"></script>
            <script src="asset/plugins/datatable/js/jquery.dataTables.min.js"></script>

            <!-- Menu Toggle Script -->
            <script>
                $("#menu-toggle").click(function (e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                });

                function startTime()
                {
                    var today = new Date();
                    var h = today.getHours();
                    var m = today.getMinutes();
                    var s = today.getSeconds();
            // add a zero in front of numbers<10<br>
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout(function () {
                startTime()
            }, 500);
        }

        function checkTime(i)
        {
            if (i < 10)
            {
                i = "0" + i;
            }
            return i;
        }

    </script>

</body>
</html>
