<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="asset/images/favicon.png">
    <title>Rotobot - Sistem Manajemen Course</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00943f">
    <meta name="theme-color" content="#ffffff">
    <!-- END FAVICON -->

    <link href="asset/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="asset/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="asset/plugins/animate.css/animate.min.css" rel="stylesheet">
    <link href="asset/plugins/datepicker/datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="asset/css/main.css">
</head>
<body>
    <!-- wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="animated">
            <ul class="sidebar-nav sidebar-group">
                <li class="sidebar-brand">
                    <a href="#">
                        Rotobot - Sistem Manajemen Course
                    </a>
                </li>
                <li class="sidebar-item sidebar-text"><p>navigasi</p></li>
                <li class="sidebar-item">
                    <a href="<?php echo base_url();?>HomeAdministrator" class="sidebar-link">Dashboard</a>
                </li> 
                <li class="sidebar-item">
                    <a href="<?php echo base_url();?>AdministratorProfil" class="sidebar-link">Profil</a>
                </li> 
                <li class="sidebar-item">
                    <a class="sidebar-link has-sub collapsed" data-toggle="collapse" data-parent=".sidebar-item" href="#masterData">Master Data</a>
                    <ul id="masterData" class="collapse sublinks">
                        <li><a href="<?php echo base_url();?>AdministratorDataInstruktur">Data Instruktur <span class="blue-text">(<?php echo $this->db->query("Select * from karyawan where jabatan like 'Instruktur%'")->num_rows();?>)</span></a></li>
                        <li><a href="<?php echo base_url();?>AdministratorDataKaryawan">Data Karyawan <span class="blue-text">(<?php echo $this->db->query("Select * from karyawan where not jabatan like 'Instruktur%' and not nama='Admin' and not nama = 'Administrator'")->num_rows();?>)</span></a></li>
                        <li><a href="<?php echo base_url();?>AdministratorDataSiswa">Data Siswa <span class="blue-text">(<?php echo $this->db->query("Select * from siswa")->num_rows();?>)</span></a></li>
                        <li><a href="<?php echo base_url();?>AdministratorDataOwner">Data Owner <span class="blue-text">(<?php echo $this->db->query("Select * from owner")->num_rows();?>)</span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-sub collapsed active" data-toggle="collapse" data-parent=".sidebar-item" href="#dataAbsensi">Data Absensi</a>
                    <ul id="dataAbsensi" class="collapse sublinks">
                        <li><a href="<?php echo base_url();?>AdministratorDataKehadiranInstruktur" class="sidebar-link active">Data Absensi Instruktur</a></li>
                        <li><a href="<?php echo base_url();?>AdministratorDataKehadiranKaryawan">Data Absensi Karyawan</a></li>
                        <li><a href="<?php echo base_url();?>AdministratorDataKehadiranSiswa">Data Absensi Siswa</a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-sub collapsed" data-toggle="collapse" data-parent=".sidebar-item" href="#dataHonor">Data Honor</a>
                    <ul id="dataHonor" class="collapse sublinks">
                        <li><a href="<?php echo base_url();?>AdministratorDataHonor">Data Honor</a></li>
                        <li><a href="<?php echo base_url();?>AdministratorDataHonorInstruktur">Data Instruktur</a></li>
                        <li><a href="<?php echo base_url();?>AdministratorDataHonorKaryawan">Data Karyawan</a></li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link has-sub collapsed" data-toggle="collapse" data-parent=".sidebar-item" href="#berkas">Berkas</a>
                    <ul id="berkas" class="collapse sublinks">
                        <li><a href="<?php echo base_url();?>AdministratorMateriPembelajaran">Materi Pembelajaran</a></li>
                        <li><a href="<?php echo base_url();?>AdministratorRencanaPembelajaran">Rencana Pelaksanaan Pembelajaran</a>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Toggle Button -->
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
            <!-- /Toggle Button -->

            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <!-- Top Bar -->
                    <div class="row">
                        <nav id="top-menu-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
                            <div class="container-fluid">
                                <ul class="nav navbar-nav navbar-right" id="top-menu-item">
                                    <li class="pull-right"><a href="<?php echo base_url();?>login/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                                    <li class="pull-right"><p class="navbar-text divider">|</p></li>
                                    <li class="pull-right"><p class="navbar-text">Selamat datang, <a href="#" class="navbar-link"><?php echo $this->session->userdata('nama');?></a></p></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- /Top Bar -->

                    <!-- Main Content -->
                    <div id="main-content">
                        <!-- breadcrumb -->
                        <div class="row" >
                            <ol class="breadcrumb">
                                <li><a href="<?php echo base_url();?>HomeAdministrator">Dashboard</a></li>
                                <li><a href="#">Data Absensi</a></li>
                                <li class="active">Data Kehadiran Instruktur</li>
                            </ol>
                        </div>
                        <!-- breadcrumb -->

                        <div class="row">
                            <div class="main-title clearfix">
                                <h1>Data Kehadiran Instruktur</h1>
                                <div class="toolbar form-inline pull-right">
                                    <div class="form-group search">
                                        <input type="text" class="form-control" id="cari_instruktur" placeholder='Cari Instruktur...'/>
                                        <i class="fa fa-search icon"></i>
                                    </div>
                                    <a href="#" type="button" data-toggle="modal" data-target="#modal_filter" class="btn custom2 table-button btn-success btn-xs form-control">Cetak</a>
                                </div>
                            </div>
                            <div class="col-md-12 element">
                                <table id="tabel_data_absensi_instruktur" class="datatable table table-bordered" >
                                    <thead>
                                        <tr>
                                            <th>Id Instruktur</th>
                                            <th>Nama Lengkap</th>
                                            <th>Tanggal Masuk</th>
                                            <th>Jam Masuk</th>
                                            <th>Jam Pulang</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach ($instruktur as $result):?>
                                            <tr>
                                                <td><?php echo $result->id_karyawan?></td>
                                                <td><?php echo $result->nama?></td>
                                                <td><?php echo date('d M Y', strtotime($result->tanggalmasuk))?></td>
                                                <td><?php echo date('H:i', strtotime($result->jammasuk))?></td>
                                                <td><?php echo date('H:i', strtotime($result->jampulang))?></td>
                                            </tr>
                                        <?php endforeach;?>                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Main Content -->
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->

        <!-- MODAL: modal filter -->
        <div class="modal fade modal-custom" tabindex="-1" role="dialog" id="modal_filter" aria-labelledby="modal_filter" aria-hidden="true">
            <div class="modal-dialog modal-custom" role="document">
                <div class="modal-content">
                    <form class="form form-custom clearfix" method="post" action="<?php echo base_url();?>CetakAbsensiInstruktur">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p class="modal-title">Filter</p>
                        </div>
                        <div class="modal-body p-t-15 row">
                            <div class="form-group col-md-6">
                                <label for="tambah_jabatan">Filter Bulan</label>
                                <select id="tambah_jabatan" name="bulan" class="form-control selectpicker show-menu-arrow">
                                    <option selected value="0"></option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">Mei</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>                            
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="submit" class="btn btn-primary btn-lg btn-bold pull-left">Cetak</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <!-- Scripts -->
        <script src="asset/plugins/jquery/jquery.min.js"></script>
        <script src="asset/plugins/bootstrap/bootstrap.min.js"></script>
        <script src="asset/plugins/datatable/js/jquery.dataTables.min.js"></script>
        <script src="asset/plugins/datepicker/moment.min.js"></script>
        <script src="asset/plugins/datepicker/datetimepicker.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            // DATATABLE
            $(document).ready(function () {
                oTable = $('#tabel_data_absensi_instruktur').DataTable({
                    "dom": '<"toolbar">frtip',
                    "bFilter": true
                });

                $('#cari_instruktur').keyup(function () {
                    oTable.search($(this).val()).draw();
                });
            });

            // Datetimepicker
            $('.tanggal').datetimepicker({
                pickTime: false,
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });

        </script>

    </body>
    </html>
